{% extends "blog.html.twig" %}

{% block body %}
    
<section class="testimonial-area">
    <div class="testimonial-content-area">
        <div class="container">
            <div class="row">
                <div class="t-b-content-area blog-content-area clearfix">                       
                    <div class="col-md-9 col-sm-12 col-md-push-3 no-padding blog-custom-padding">
                        <div class="col-md-12 col-sm-12">
                            <div class="t-b-details blog-tb-details blog-tb-single-details">
                                <div class="t-b-img">
                                    <img src="images/testimonial-blog-post-1.png" class="img-responsive" alt="blog-post">
                                    <div><span>JUNE</span><span>30</span></div>
                                </div>
                                <div class="t-b-comment blog-post-comment">
                                    <p>Posted In: <span><a href="#">Legal Advice</a></span></p>
                                    <p>Posted By: <span><a href="#">Mahmoud Baghagho</a></span></p>
                                    <p>Tags: <span><a href="#"> law</a>, <a href="#">civil</a>, <a href="#">rights</a> , <a href="#">university</a> </span></p>
                                    <p><span><a href="#"><i class="fa fa-comments"></i></a><a href="#">15</a> </span>
                                       <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
                                </div>
                                <h2><a href="#">It’s My Pleasure to graduate with excellent!</a></h2>
                                <p>We are aiming to provide high quality legal consultancy, support and results for your legal issues. Aiming to provide high quality legal consultancy, support and results for your legal issues. Using their expertise and experience, Trust law firm documents and builds their clients' cases to obtain the best results they could achieve in their particular situation. Trust has been known for doing what he says, aiming to bring favourable results for its customers as soon as possible. In Trust, we are aiming to provide high quality legal consultancy, support and results for your legal issues. Aiming to provide high quality legal consultancy, support and results for your legal issues. Using their expertise and experience, Trust law firm documents and builds their clients' cases to obtain the best results they could achieve in their particular situation.</p>
                                <p>Trust is abusiness theme perfectly suited legal advisers and offices, lawyers, attorneys, counsels, advocates and other legal and law related services.Trust started as a sole practitioner providing services to the area community. We are aiming to provide high quality legal consultancy, support and results for your legal issues. Aiming to provide high quality legal consultancy, support and results for your legal issues. Using their expertise and experience, Trust law firm documents and builds their clients' cases to obtain the best results they could achieve in their particular situation. Trust has been known for doing what he says, aiming to bring favourable results for its customers as soon as possible. In Trust, we are aiming to provide high quality legal consultancy, support and results for your legal issues. Aiming to provide high quality legal consultancy, support and results for your legal issues. Using their expertise and experience, Trust law firm documents and builds their clients' cases to obtain the best results they could achieve in their particular situation.</p>
                                <p>We are aiming to provide high quality legal consultancy, support and results for your legal issues. Aiming to provide high quality legal consultancy, support and results for your legal issues. Using their expertise and experience, Trust law firm documents and builds their clients' cases to obtain the best results they could achieve in their particular situation. Trust has been known for doing what he says, aiming to bring favourable results for its customers as soon as possible. In Trust, we are aiming to provide high quality legal consultancy, support and results for your legal issues. Aiming to provide high quality legal consultancy, support and results for your legal issues. Using their expertise and experience, Trust law firm documents and builds their clients' cases to obtain the best results they could achieve in their particular situation.</p>
                                <p>Trust is abusiness theme perfectly suited legal advisers and offices, lawyers, attorneys, counsels, advocates and other legal and law related services.Trust started as a sole practitioner providing services to the area community. We are aiming to provide high quality legal consultancy, support and results for your legal issues. Aiming to provide high quality legal consultancy, support and results for your legal issues. Using their expertise and experience, Trust law firm documents and builds their clients' cases to obtain the best results they could achieve in their particular situation. Trust has been known for doing what he says, aiming to bring favourable results for its customers as soon as possible. In Trust, we are aiming to provide high quality legal consultancy, support and results for your legal issues. Aiming to provide high quality legal consultancy, support and results for your legal issues. Using their expertise and experience, Trust law firm documents and builds their clients' cases to obtain the best results they could achieve in their particular situation.</p>
                                <div class="blog-social text-right">
                                    <p><span>Share This Artcle : </span>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>

                                    </p>
                                </div>
                            </div> 
                            <div class="blog-prev-next clearfix">
                                <div class="blog-prev">
                                    <div class="blog-prev-content">
                                        <p>Previous Post</p>
                                        <h3>All you want to know about industrial laws</h3>
                                        <div class="prev-left">
                                            <a href="#"><i class="fa fa-long-arrow-left"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-next text-right">
                                    <div class="blog-next-content">
                                        <p>Next Post</p>
                                        <h3>What you must know about financial law changes</h3>
                                        <div class="next-right">
                                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-inner single-blog-author">
                                <h2>Author</h2>
                                <div class="recent-post single-blog-author-post">
                                    <p>Aiming to provide high quality legal consultancy, support and results for your legal issues. Using their expertise and experience, Trust law firm documents and builds their clients' cases to obtain the best results they could achieve in their particular situation. Trust has been known for doing what he says, aiming to bring favourable results for its customers as soon as possible. </p>
                                    <img src="images/blog-author.png" alt="">
                                </div>
                            </div>
                            <div class="sidebar-inner single-blog-author">
                                <h2>Related Posts</h2>
                            </div> 
                            <div class="col-md-4 no-padding-left b-s-l-p">
                                <div class="blog-single-img">
                                    <img src="images/testimonial-blog-post-4.png" class="img-responsive" alt="blog-post">
                                    <div class="b-single-span"><span>JUNE</span><span>26</span></div>
                                    <p><a href="#">All About human laws, our rich and useful library.</a></p>
                                    <div class="b-p-i-overlay">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-single-img">
                                    <img src="images/testimonial-blog-post-5.png" class="img-responsive" alt="blog-post">
                                    <div class="b-single-span"><span>JUNE</span><span>25</span></div>
                                    <p><a href="#">All About human laws, our rich and useful library.</a></p>
                                    <div class="b-p-i-overlay">
                                    </div>                            
                                </div>
                            </div>
                            <div class="col-md-4 no-padding-right b-s-r-p">
                                <div class="blog-single-img">
                                    <img src="images/testimonial-blog-post-6.png" class="img-responsive" alt="blog-post">
                                    <div class="b-single-span"><span>JUNE</span><span>23</span></div>
                                    <p><a href="#">All About human laws, our rich and useful library.</a></p>
                                    <div class="b-p-i-overlay">
                                    </div>                                       
                                </div>
                            </div> 
                            <div class="sidebar-inner single-blog-author single-blog-reply">
                                <h2>2 Comments</h2>
                                <div class="recent-post single-blog-author-post single-blog-reply-post">
                                    <div class="blog-reply-content">
                                        <h3><a href="#">Mohamed Habaza</a></h3>
                                        <h4>Jul 8, 2015 - 08:07 pm</h4>
                                        <p>Using their expertise and experience, Trust law firm documents and builds their clients' cases to obtain the best results they could achieve in their particular situation. </p>
                                        <img src="images/blog-author-2.png" alt="">
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                                <div class="recent-post single-blog-author-post single-blog-reply-post">
                                    <div class="blog-reply-content b-l-no-border">
                                        <h3><a href="#">Ahmed Hassan</a></h3>
                                        <h4>Jul 8, 2015 - 08:07 pm</h4>
                                        <p>Using their expertise and experience, Trust law firm documents and builds their clients' cases to obtain the best results they could achieve in their particular situation. </p>
                                        <img src="images/blog-author-3.png" alt="">
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-inner single-blog-author">
                                <h2>Leave A Reply</h2>
                            </div>
                            <div class="blog-reply-form">        
                                <form>
                                    <input type="text" class="form-control" id="Name" placeholder="YOUR NAME"> 
                                    <input type="email" class="form-control" id="Email" placeholder="EMAIL">
                                    <input type="text" class="form-control"  placeholder="WEBSITE"> 
                                    <textarea class="form-control" rows="5" id="Message" placeholder="COMMENT"></textarea>
                                    <button type="button" id="contact_submit" class="btn btn-dm">Post Your Comment</button>
                                </form>
                            </div>           
                        </div>   
                    </div>  
                    <div class="col-md-3 col-sm-12 col-md-pull-9">
                        <div class="right-sidebar">
                            <div class="search-bar">
                                <form action="#">
                                    <input type="text" value="" class="sidebar-input-text" placeholder="Type and hit enter ...">
                                    <input type="submit" class="sidebar-input-submit"  value="">
                                    <i class="fa fa-search"></i>
                                </form>
                            </div> <!-- end search-bar -->
                            <div class="sidebar-category sidebar-inner">
                                <h2>Categories</h2>
                                <ul>
                                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>Civil law</a></li>
                                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>Legal Advice</a></li>
                                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>Practice Areas</a></li>
                                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>Uncategorized</a></li>
                                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>Аttorneys</a></li>
                                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>Articles</a></li>
                                </ul>
                            </div>
                            <div class="sidebar-inner">
                                <h2>Recent Posts</h2>
                                <div class="recent-post">
                                    <h3><a href="#">It’s My Pleasure to graduate with excellent!</a></h3>
                                    <p>June 30, 2015</p>
                                    <img src="images/recent-post-img-1.png" alt="">
                                </div>
                                <div class="recent-post">
                                    <h3><a href="#">All what you want to know about industrial laws</a></h3>
                                    <p>June 30, 2015</p>
                                    <img src="images/recent-post-img-2.png" alt="">
                                </div>
                                <div class="recent-post">
                                    <h3><a href="#">New Careers, what makes you qualified?</a></h3>
                                    <p>June 30, 2015</p>
                                    <img src="images/recent-post-img-3.png" alt="">
                                </div>
                            </div>
                            <div class="sidebar-inner">
                                <h2>Flickr Stream</h2>
                                <div class="flickr-stream">
                                    <a href="#"><img src="images/flickr-stream-1.png" alt=""></a>
                                    <a href="#"><img src="images/flickr-stream-2.png" alt=""></a>
                                    <a href="#"><img src="images/flickr-stream-3.png" alt=""></a>
                                    <a href="#"><img src="images/flickr-stream-4.png" alt=""></a>
                                    <a href="#"><img src="images/flickr-stream-5.png" alt=""></a>
                                    <a href="#"><img src="images/flickr-stream-6.png" alt=""></a>
                                    <a href="#"><img src="images/flickr-stream-7.png" alt=""></a>
                                    <a href="#"><img src="images/flickr-stream-8.png" alt=""></a>
                                    <a href="#"><img src="images/flickr-stream-9.png" alt=""></a>
                                    <a href="#"><img src="images/flickr-stream-10.png" alt=""></a>
                                    <p><a href="#">View Stream On Flickr</a></p>
                                </div>
                            </div>
                            <div class="sidebar-inner">
                                <h2>Tag Cloud</h2>
                                <div class="tag-cloud">
                                    <a href="#">Responsive</a>
                                    <a href="#">Modern</a>
                                    <a href="#">Corporate</a>
                                    <a href="#">Business</a>
                                    <a href="#">Fresh</a>
                                    <a href="#">Awesome</a>
                                    <a href="#">Mount</a>
                                    <a href="#">Fresh</a>
                                    <a href="#">Responsive</a>
                                </div>
                            </div>
                        </div>
                    </div>                           
                </div>
            </div>
        </div>       
    </div>       
</section><!-- end testimonial area -->    
{% endblock body %}